/* RESET STYLE */
@import url('https://fonts.cdnfonts.com/css/whitney-2');

:root {
    font-family: "Whitney", ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
    font-size: 25px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER STYLE */
nav {
    height: 100px;
    background-color: black;
    z-index: 500;
}

/* MAIN STYLE */

main {
    height: calc(100vh - 200px);
    overflow-y: scroll;
    background-color: black;
}

.item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-cam {
    background-image: url(../image/glowing-lines-human-heart-3d-shape-dark-background-generative-ai_191095-1435.avif);
    background-size: cover;
    background-position: center;
    width: calc(100vw / 7);
    height: 200px;
    position: relative;
}

.info-cam {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    padding: 5px;
    background-color: rgba(30,30,30,0.9);

}

.container {
    width: 90%;
    margin: 0 auto;
}


/* FOOTER STYLE */
.icon-foot {
    height: 100px;
    background-color: dimgray;
    z-index: 500;
}